<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>
  <style>
    body {
      text-decoration: none;
      text-align: center;
      background-image: url("./images/pixar.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    a {
      color: white;
    }

    h1 {
      color: white;
    }
  </style>

  <!-- localhost:400/public/ -->
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
  <!-- <script defer src="/js/main.js"></script> -->
</head>

<body>
  <h1>Welcome to <strong>"HWAN"</strong> Express Service!</h1>
  <h2><a href="/register">회원가입</a></h2>
  <h2><a href="/login">로그인</a></h2>
  <h2><a href="/dbBoard">게시판</a></h2>

  <script>
    // console.log(document.cookie);

    // document.cookie = "user=hwan; expires=17 Mar 2023 13:00:00 GMT; path=/";
    // document.cookie = "test=kdt; expires=17 Mar 2023 13:00:00 GMT; path=/";

    console.log(document.cookie);
  </script>
</body>

</html>